.account-info {
  width: 90%;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
}

/* .account-info > h2 {
  text-align: center;
} */

.account-info__header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.account-info__header-txt,
.account-info__logout {
  margin: 0 0.5rem;
}

.account-info__logout {
  margin: 0 0.5rem;
  border-radius: 0.6rem;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.account-info__edit {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  font-size: 0.7rem;
  text-decoration: underline;
}

.account-info__edit > span {
  font-size: 0.85rem;
  margin-left: 0.2rem;
  position: relative;
  top: 0.2rem;
}

.account-info__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.account-info__img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.account-info__personal {
  margin-left: 1rem;
}

.account-info__personal > h3 {
  line-height: 0.1rem;
}

.account-info__star {
  color: #FF9A00;
  font-size: 1.2rem;
  position: relative;
  top: 0.3rem;
  z-index: -1;
}

.flex-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-wrapper__left > p {
  text-align: center;
}