.review-modal {
  display: flex;
  flex-direction: column;
}

.review-modal__heading {
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

.review-modal__form {
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

.review-modal__input-div,
.review-modal__textarea {
  margin-bottom: 0.5rem;
}

.review-modal__input-div {
  text-align: center;
}

.review-modal__input {
  margin-right: 0.1rem;
}

.review-modal__label {
  margin-right: 0.5rem;
}

.review-modal__textarea {
  height: 3rem;
}

.review-modal__btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: 1px solid black;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.25rem;
  background-color: #FF9A00;
}