.completed {
  display: flex;
  align-items: top;
  margin-bottom: 0.5rem;
}

.completed__img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin: 0 0.5rem;
  border: 1px solid black;
}

.completed__txt {
  margin-right: 0.5rem;
  width: 200px;
}

.completed__title {
  margin-bottom: 0.25rem;
}

.completed__p {
  margin-bottom: 0.25rem;
}

.completed__review-btn {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: 0px solid black;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.25rem;
  background-color: #FF9A00;
}
.review-open {
  font-style: italic;
}
.review-close{
  font-style: italic;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
