.completed {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.completed__img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin: 0 0.5rem;
  border: 1px solid black;
}

.completed__txt {
  margin-right: 0.5rem;
}

.completed__title {
  margin-bottom: 0.25rem;
}

.completed__p {
  margin-bottom: 0.25rem;
}

.completed__review-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: 1px solid black;
  padding: 1px 4px;
  margin-bottom: 0.25rem;
}