.listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.listing__img {
  margin: auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: solid black 2px;
  margin-bottom: 0.5rem;
}

.listing__txt {
  margin: auto;
  text-align: center;
}

.margin-btm {
  margin-bottom: 0.25rem;
}

.listing__btns {
  display: flex;
  /* flex-direction: row; */
}

.listing__btn--request,
.listing__btn--more {
  margin: 0 0.5rem;
  border-radius: 0.6rem;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  /* margin-top: 1rem; */
}

.listing__btn--request {
  background-color: #FF9A00;
}

/* .listing__btn {
  margin: 0 0.5rem;
} */

/* .listing__btn--underline {
  text-decoration: underline;
} */

.listing__txt--description,
.listing__txt--dates {
  margin: 0.5rem 1rem;
}

.orange-star {
  font-size: 1.2rem;
  align-items: baseline;
  color: #FF9A00;
  position: relative;
  top: 3px;
}