.overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
    height: 175px;
    padding: 0.4rem;
    /* border-radius: 0.4rem; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.btn-close-modal {
    background-color: #ccc;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 150px;
    align-self: center;
    margin-top: 0.5rem;
}