.active-deals {
  margin-top: 4rem;
}

.active-deals__header {
  text-align: center;
  margin-bottom: 0.5rem;
}

.active-deals__tabs {
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.actions-txt {
  font-weight: 400;
}

.actions-icon {
  color:  #FF9A00;
  font-size: 14px;
}

.hidden {
  display: none;
}