.active-listing {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}

.active-listing--pending {
  order: -1;
}

.active-listing__btn--update-btn:visited {
  color: black;
}

.active-listing__img-div {
  margin: 0 1rem;
}

.active-listing__img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 1px solid black;
}

.active-listing__txt-div {
  width: 200px;
  margin-right: 1rem; 
}

.active-listing__listing-title,
.active-listing__listing-price,
.active-listing__listing-description {
  margin-bottom: 0.25rem;
}

.active-listing__listing-description {
  width: 100%;
  height: 40px; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-listing__btn-div {
  display: flex;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.active-listing__btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background-color: white;
}

.active-listing__btn--update-btn {
  margin-right: 1rem;
}

.active-listing__btn--delete-btn {
  margin-left: 1rem;
}

.active-listing__request-btn,
.active-listing__btn--dates-btn,
.active-listing__return-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: 0px solid black;
  padding: 1px 4px;
  margin-bottom: 0.25rem;
}

.active-listing__btn--dates-btn {
  background: #efefef;
  padding: 0.1rem 0.5rem;
}

.active-listing__request-btn {
  background-color: #FF9A00;
  padding: 0.1rem 0.5rem;
}

.active-listing__return-btn {
  background-color: #efefef;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: none;
  padding: 0.2rem 0.4rem;
  width: 110px;
  margin-top: 0.25rem;
}

.active-listing__acceptedbooking-ul {
  margin: auto;
}

.active-listing__acceptedbooking-li {
  list-style: none;
}

.request-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem;  
}

.prebook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: .5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-approve {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background-color: #FF9A00;
  border-radius: 0.6rem;
  border: none;
  padding: 0.2rem 0.4rem;
  width: 75px;
  margin-right: 0.4rem;
}

.btn-container {
  margin-top: 0.5rem;
}

.btn-container-return {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.return-txt-container {

}

.btn-reject {
  background-color: #efefef;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 0.6rem;
  border: none;
  padding: 0.2rem 0.4rem;
  width: 75px;
  /* margin-top: 0.5rem; */
}

.request-review__img,
.prebooked__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.request-review__img > img,
.prebooked__img > img {
  object-fit: cover;
}

.img-user {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-listing__btn > span {
  font-size: 0.85rem;
  margin-left: 0.2rem;
  position: relative;
  top: 0.2rem;
}

.flex-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.2rem;
}

.btn-container {
  display: flex;
}

.flex {
  display: flex;
}