@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing:content-box;
    margin:0;
    padding: 0;
}

.header-create-listing {
    margin-bottom: 0.6rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.form-create-listing {
    display: flex;
    flex-direction: column;
}

.form-create-listing__preview {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(150, 150, 150);
    position: relative;
    align-self: center;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem
}

.form-create-listing__preview > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-create-listing__preview > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    z-index: -1;
}

.input-field,
.input-select {
    margin-bottom: 0.4rem;
    width: 220px;
    padding: 0.1rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

input[type="file"] {
    display: none;
}

.input-img {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 0.2rem 0.1rem;
    border-radius: 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 150px;
}

.icon-file-upload {
    font-size: 18px;
}

.btn-submit {
    background-color: #FF9A00;
    border-radius: 0.6rem;
    border: 1px solid black;
    padding: 0.4rem 0;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    margin-top: 1rem;
}

.close-icon {
    font-size: 18px;
}

.btn-close {
    background: none;
    border-style: none;
    align-self: flex-end;
    position: fixed;
}