.rental {
  display: flex;
  margin-bottom: 0.5rem;
  /* align-items: center; */
  align-items: flex-start;
  margin: auto;
}

.rental__img {
  margin: 0 1rem;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 1px solid black;
}

.rental__txt {
  width: 200px;
  margin-right: 1rem; 
}

.rental__heading {
  margin-bottom: 0.4rem;
}

.rental__status {
  margin-bottom: 0.4rem;
}

.rental__owner {
  margin-bottom: 0.4rem;
}


.rental__contact-btn {
  border-radius: 0.6rem;
  background-color: #FF9A00;
  border: none;
  padding: 0.2rem 0.3rem;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.3rem;
}
