.rental {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.rental__img {
  margin: 0 1rem;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 1px solid black;
}

.rental__heading {
  margin-bottom: 0.5rem;
}

.rental__status {
  margin-bottom: 0.5rem;
}

.rental__owner {
  margin-bottom: 0.5rem;
}

.rental__date {
  margin-bottom: 0.5rem;
}
